[project]
	description = Static package analysis of RPM builds
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group sed-redhat
[access "refs/for/refs/*"]
	read = group sed-redhat
	push = group sed-redhat
	label-Code-Review = -2..+2 group sed-redhat
	label-Verified = -1..+1 group sed-redhat
	rebase = group sed-redhat
	removeReviewer = group sed-redhat
	submit = group sed-redhat
[access "refs/heads/*"]
	read = group sed-redhat
	create = group sed-redhat
	push = +force group sed-redhat
	pushMerge = group sed-redhat
[access "refs/tags/*"]
	push = +force group sed-redhat
	pushTag = group sed-redhat
	pushSignedTag = group sed-redhat
[submit]
	action = rebase if necessary
[access "refs/heads/wip/*"]
	push = +force group sed-redhat
[receive]
	requireChangeId = true
