[project]
	description = Static package analysis of RPM builds
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group sed-redhat
	owner = group user/sthaha (sthaha)
[access "refs/for/refs/*"]
	read = group user/sthaha (sthaha)
	push = group user/sthaha (sthaha)
	label-Code-Review = -2..+2 group sed-redhat
	label-Code-Review = -2..+2 group user/sthaha (sthaha)
	label-Verified = -1..+1 group sed-redhat
	label-Verified = -1..+1 group user/sthaha (sthaha)
	rebase = group sed-redhat
	rebase = group user/sthaha (sthaha)
	removeReviewer = group sed-redhat
	removeReviewer = group user/sthaha (sthaha)
	submit = group sed-redhat
	submit = group user/sthaha (sthaha)
[access "refs/heads/*"]
	read = group user/sthaha (sthaha)
	create = group user/sthaha (sthaha)
	push = group sed-redhat
	push = +force group user/sthaha (sthaha)
	pushMerge = group user/sthaha (sthaha)
[access "refs/tags/*"]
	push = group sed-redhat
	push = +force group user/sthaha (sthaha)
	pushTag = group sed-redhat
	pushTag = group user/sthaha (sthaha)
	pushSignedTag = group sed-redhat
	pushSignedTag = group user/sthaha (sthaha)
[submit]
	action = rebase if necessary
[access "refs/heads/wip/*"]
	push = +force group sed-redhat
[receive]
	requireChangeId = true
